* {
    margin: 0px;
    padding: 0px;
}
#container {
    padding: 15px;
}
div div {
    width: 150px;
    height: 150px;
    vertical-align: top;
    margin: 10px;
    display: inline-block;
}
img {
    width: 100%;
    height: 100%;
}